

body {
  background-color: #247BA0;
}

#resume-page{
  width: 1024px;
  margin: auto;
  background-color: #FFFFFF;
  overflow: hidden;
  padding: 20px;
}

h1 {
  font-family: courier;
  text-align: center;
}

h2 h3 h4 p {
  font-family: 'Raleway', sans-serif;
  background-color: #FFFFFF;
}

.row-align {
  display: block;
  overflow: hidden;
}

.timeline-left {
  display: inline-block;
  float: left;
  width: 25%;
}

.timeline-center-line {
  display: inline-block;
  border-color: #247BA0;
  border-width: medium;
}

.timeline-right {
  display: inline-block;
  float: right;
  width: 70%;
}

a {
  text-decoration: none;
  color: #50514F;
}

a:hover {
  text-decoration: underline;
  color: #50514F;
}

a:visited {
  color: #50514F;
}
