@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  background-color: #247BA0;
  font-family: 'Raleway', sans-serif;
}

#resume-page{
  width: 1024px;
  margin: auto;
  background-color: #FFFFFF;
  overflow: hidden;
  padding: 20px;
}

h1 {
  font-family: courier;
  text-align: center;
}

h2 h3 h4 p {
  background-color: #FFFFFF;
}

.row-align {
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.hidden {
  display: none;
}

.timeline-left {
  display: inline-block;
  float: left;
  width: 30%;
  text-align: right;
}

.timeline-right {
  display: inline-block;
  float: right;
  width: 70%;
  text-align: left;
}

.social-icons {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: auto;
}

a {
  text-decoration: none;
  color: #50514F;
}

a:hover {
  text-decoration: underline;
  color: #50514F;
}

a:visited {
  color: #50514F;
}

/*css for tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
