@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  background-color: #247BA0;
  font-family: 'Raleway', sans-serif;
}

#resume-page{
  width: 1024px;
  margin: auto;
  background-color: #FFFFFF;
  overflow: hidden;
  padding: 20px;
}

h1 {
  font-family: courier;
  text-align: center;
}

h2 h3 h4 p {
  background-color: #FFFFFF;
}

.row-align {
  display: block;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.timeline-left {
  float: left;
  text-align: right;
  width: 200px;
  margin-right: 1000px;
}

.left-line {
  padding-left: 20px;
  border-left: 10px solid #247BA0;
}

.timeline-right {
  float: right;
  width: 500px;
  text-align: left;
  margin-right: 60px;
}

.right-line {
  padding-right: 20px;
  border-right: 10px solid #247BA0;
}

#timeline {
  width: 810px;
  display: inline-block;
}

#sidebar {
  display: inline-block;
  float: right;
  width: 214px;
  text-align: left;
}

.social-icons {
  height: 60px;
  width: 60px;
  display: inline-block;
  margin: auto;
  padding: 5px 10px 25px 10px;
}

.title-pointer:hover {
  cursor:pointer;
}

.title-JSH {
}

.desc-JSH {
  margin-left: 50px;
  width: 75%;
  display: none;
}

.title-FB {
}

.desc-FB {
  margin-left: 50px;
  width: 75%;
  display: none;
}

.title-CLC {
}

.desc-CLC {
  margin-left: 15px;
  width: 75%;
  display: none;
}

.title-Migo {

}

.desc-Migo {
  margin-left: 15px;
  width: 75%;
  display: none;
}

.title-Ada {

}

.desc-Ada {
  margin-left: 15px;
  width: 75%;
  display: none;
}

.title-HHS {

}

.desc-HHS {
  margin-left: 15px;
  width: 75%;
  display: none;
}

.title-UNI {

}

.desc-UNI {
  margin-left: 15px;
  width: 75%;
  display: none;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #247BA0;
  margin-left: 205px;
}

.circle-left {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #A1CE5E;
  margin-left: 210px;
  margin-top: 12px;
}

.circle-right {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #A1CE5E;
  margin-left: 210px;
  margin-top: 15px;
}

.circle-right-selected {
  width: 40px;
  height: 30px;
  background-color: #FFE066;
  margin-left: 210px;
  margin-top: 19px;
  border-radius: 90px 0px 0px 90px;
}

.title-right-selected {
  background-color: #FFE066;
  height: 27px;
  width: 60%;
  border-top: 3px solid #FFE066;
}

.circle-left-selected {
  width: 47px;
  height: 30px;
  background-color: #FFE066;
  margin-left: 200px;
  margin-top: 16px;
  border-radius: 0px 90px 90px 0px;
}

.title-left-selected {
  background-color: #FFE066;
  height: 27px;
  border-top: 3px solid #FFE066;
}

.tab {
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: #50514F;
}

a:hover {
  text-decoration: underline;
  color: #50514F;
}

a:visited {
  color: #50514F;
}

/*popover image
